<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Indonesian resto catalogue for you" />
    <meta name="theme-color" content="#00aa95" />
    <link rel="icon" href="./images/logo-only.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>Indo Cafe Restaurant App</title>
  </head>
  <body>
    <header>
      <a href="#maincontent" class="skip-link">Menuju konten utama</a>
      <nav>
        <div class="nav-logo">
          <img alt="" src="./images/logo-nobg.png" />
        </div>
        <div class="nav-menu">
          <a id="menu" class="menu-icon" href="#">☰</a>
          <div id="drawer" class="menu-list">
            <ul>
              <li class="menu-item">
                <a href="#/home">Home</a>
              </li>
              <li class="menu-item">
                <a href="#/favorites">Favorites</a>
              </li>
              <li class="menu-item">
                <a href="https://github.com/syiidahasnaa30">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main id="maincontent"></main>
    <footer class="footer" tabindex="0">Copyright © 2023 - Indocafe</footer>
    <script
      src="https://kit.fontawesome.com/5888c925db.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
