<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main-2.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="" class="review-form">
      <input type="text" name="name" id="name" placeholder="Enter your name" />
      <textarea
        name="review"
        id="review"
        cols="30"
        rows="5"
        placeholder="Enter your review"
      ></textarea>
      <button class="button-submit-review">Submit</button>
    </form>
    <script
      src="https://kit.fontawesome.com/5888c925db.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
